* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.biglietto {
    width: 600px;
    border: 1px solid black;
    background-color: rgb(243, 190, 190);
    margin: 40px 100px;
    padding: 5px 10px;
}

.logo {
    color: red;
    font-weight: 600;
}